<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>소셜 로그인</title>
  <style>
    .btn {
      border-radius: 6px;
      width: 204px;
      height: 49px;
      color: #000;
      font-size: 15px;
      line-height: 49px;
      margin-top: 36px;
      letter-spacing: -0.16px;
    }
    .kakao {
      background: #FFCD00;
    }
    .naver {
      background: #03C75A;
    }
    .apple {
      background: #000000;
      color:white;
    }
  </style>
  <!-- 카카오js -->
  <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <!-- 네이버js -->
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
</head>
<body>
<div>
  <button type="button" class="btn kakao" onclick="kakaoLogin();">
    카카오 로그인
  </button>
  <button type="button" class="btn naver" onclick="naverLogin();">
    네이버 로그인
  </button>
  <button type="button" class="btn apple">
    애플 로그인
  </button>
</div>

<script type="text/javascript" th:inline="javascript">
  //<![CDATA[
  var sdkStateRedirectUri = location.protocol + "//" + location.hostname;
  if (location.port != "") {
    sdkStateRedirectUri = sdkStateRedirectUri + ":" + location.port;
  }
  sdkStateRedirectUri = sdkStateRedirectUri + "/login/token";

  var appKey = {
    kakao: /*[[${kakaoJsKey}]]*/ "",
    naver: /*[[${naverJsKey}]]*/ ""
  }

  // 카카오로그인
  function kakaoLogin() {
    try{
      Kakao.init(appKey.kakao);

      Kakao.Auth.authorize({
        reauthenticate: true,
        state: "kakao",
        redirectUri: sdkStateRedirectUri
      });
    }catch(e) {
      console.log(e);
    }
  }

  // 네이버로그인
  function naverLogin() {
    try{
      var apiURL = "https://nid.naver.com/oauth2.0/authorize?response_type=code";
      apiURL += "&client_id=" + appKey.naver;
      apiURL += "&redirect_uri=" + sdkStateRedirectUri;
      apiURL += "&state=" + "naver";

      location.href = apiURL;
    }catch (e){
      console.log(e)
    }
  }

  //]]>
</script>
</body>
</html>